<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @* Importação do CSS do Bootstrap *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>@ViewBag.Titulo - Controle de Medicamentos</title>
</head>
<body>
    @* Barra de Navegação *@
    <nav class="navbar navbar-expand-lg bg-white border-bottom">
        <div class="container">
            <a class="navbar-brand fw-semibold" asp-controller="Home" asp-action="Index">Controle de Medicamentos</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menuPrincipal">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Início</a>
                    <a class="nav-link" asp-controller="Fornecedor" asp-action="Listar">Controle de Fornecedores</a>
                    <a class="nav-link" asp-controller="Paciente" asp-action="Listar">Controle de Pacientes</a>
                    <a class="nav-link" asp-controller="Funcionario" asp-action="Listar">Controle de Funcionários</a>
                    <a class="nav-link" asp-controller="Medicamento" asp-action="Listar">Controle de Medicamentos</a>
                </div>
            </div>
        </div>
    </nav>

    @* Cabeçalho da Página *@
    <header class="container py-4">
        <h2>@ViewBag.Titulo</h2>
    </header>

    @* Conteúdo da Página *@
    <main class="container pb-5">
        @RenderBody()
    </main>

    @* Importação do JavaScript do Bootstrap *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
